$text-color: #ffffff;
$text-black: #202020;



// Background color
$bg-primary: #202020  !default; // Укажите нужный цвет по макету
// Убедитесь, что переменная существует
$bg-white: #ffffff !default;
$bg-black-opacity: #FFFFFF1A !default;